body {
  /* padding-top: 5rem; */
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif!important;
}
.starter-template {
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.starter-template h1{
  line-height: 35px;
}

navbar-brand {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: white;
}

.navbar-inverse {
  margin-bottom: 0px!important;
  padding-bottom: 0px!important;
  border-radius: 0px;
  background: transparent;
  border: none;
}


.collaps ul.navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background: transparent;
}

.boxed {
  border: 1.5px solid white ;
  margin: 8em 0em;
  padding: 0em;
}


h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  /* padding-bottom:1em; */
}

.boxed h1 {
  font-size: 28px;
  line-height: 60px;
  color: white;
}

#inverse h1 {
  font-size: 35px;
  line-height: 60px;
}

#inverse p {
  font-size: 26px;
  line-height: 48px;
}

.church {
float: none; margin: 0 auto;  width: 100%;
text-align: center;
background-color: black;
}

blockquote {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

#inverse {
  background-color: black;
  color: white;
  padding: 3em;
}

#footer {
  color: grey;
  background-color: black;
  line-height: 2px;
}

#footer p{
  line-height: 16px;
  padding:  3em 1.5em;
}



.banner {
  background-image:url('https://static.pexels.com/photos/631477/pexels-photo-631477.jpeg');
  background-size: cover;
  width: 100%;
}


.featurette-heading {
  font-weight: 400;
  line-height: 50px;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 1.1em;
  margin-top: 2.1em;
}
#exclude {
  margin-top: 0em;

}

.featurette p {
  font-weight: 400;
  font-size: 15px;
}

.featurette .day {
  font-weight: 900;
}
.featurette .info {
  font-style: italic;
}

.featurette img {
  max-width: 250px;
}

.featurette {
  margin: 0em 0em;
  text-align: center;
  padding: 3em 0em;
}

.my-container {
  padding: 0em 0em;
}

input {
  background-color: black;
  color: white;
}

#lock {
  padding: 5em 2em 2em 2em;
}

@media screen and (min-width: 400px) {
  .featurette {
    margin: 0em 0em;
  }
  .featurette img {
    max-width: 350px;
  }

  .banner h1 {
    font-size: 30px;
  }
  .boxed {
    margin: 8em 2em;
    padding: 2em;
  }
  input {
    font-size: 20px;
    background-color: black;
    color: white;
    padding:  1em;
  }

  #lock {
    padding: 5em 15em 10em 10em;
  }
}

@media screen and (min-width: 800px) {
  .featurette {
    margin: 0em 0em;
  }
  .featurette img {
    max-width: 500px;
  }

  .banner h1 {
    font-size: 35px;
  }
  .boxed {
    margin: 8em 8em;
    padding: 2em;
  }
  .church {
    padding-bottom: 35em!important;
  }
  input {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 2em;
    margin-left:auto;
    margin-right: auto;
    display: block;
  }
  .featurette-heading {
    margin-top: 0em;
    font-size: 28px;
    letter-spacing: 10px;

  }
  #where {
    margin-top: 2.1em;

  }
  #lock {
    padding: 5em 10em 10em 10em;
  }
}

@media screen and (min-width: 1200px) {
  .featurette {
    margin: 0em 1em;
  }
}

@media screen and (min-width: 1300px) {
  .featurette {
    margin: 0em 2em;
  }
  .featurette img {
    max-width: 600px;
  }
  .my-container {
    padding: 0em 5em;
  }
  .banner h1 {
    font-size: 45px;
  }
  .boxed {
    margin: 8em 8em;
    padding: 2em;
  }
}

@media screen and (min-width: 1600px) {
  #lock {
    padding: 5em 20em 20em 20em;
  }
}

#black {
  background-color: black;
  color: white;
}

iframe {
  width: 90%;
  min-height: 400px;
  height: 700px;

}

#lock {
  padding-bottom: 8em;
}

.odd {
  background-color: black;
  color: white;
}


header.masthead {
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 40px;
  line-height: 1.1;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 2.1;
  display: block;
  margin: 21px 0 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 70px;
  }
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 4.1;
  display: block;
}



@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

#second {
  max-height: 500px;
}
