body {
  /* padding-top: 5rem; */
}
.starter-template {
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.starter-template h1{
  line-height: 35px;
}

navbar-brand {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: white;
}

.navbar-inverse {
  margin-bottom: 0px!important;
  padding-bottom: 0px!important;
  border-radius: 0px;
  background-color: black;
}

.collaps ul.navbar-nav>li>a {
  color: white;
}


.boxed {
  border: 1.5px solid Black ;
  margin: 8em 8em;
  padding: 2em;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  padding: 1em;
}
h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.boxed h1 {
  font-size: 40px;
  line-height: 60px;
  padding: 0;
}

#inverse h1 {
  font-size: 35px;
  line-height: 60px;
}

#inverse p {
  font-size: 26px;
  line-height: 48px;
}

blockquote {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

#inverse {
  background-color: black;
  color: white;
  padding: 3em;
}

#footer {
  color: white;
  background-color: black;
  line-height: 2px;
}

#footer p{
  line-height: 16px;
  margin: 3em 0.5em;
}



.banner {
  background-image:url('https://s3.amazonaws.com/s3.imagefinder.co/uploads/2017/04/24153657/blue-night-sky-filled-with-stars-880x587.jpg');
  background-size: cover;
  width: 100%;
}

.featurette-heading {
  font-weight: 400;
  line-height: 50px;
  font-size: 23px;
}

.featurette p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.featurette .day {
  font-weight: 900;

}
.featurette .info {
  font-style: italic;
}

.featurette img {
  max-width: 550px;
}

.featurette {
  margin: 0;
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.my-container {
  padding: 0em 0em;
  margin: 0em 0em;
}


@media screen and (min-width: 400px) {
  featurette {
    margin: 1em auto;
  }
  .featurette img {
    width: auto;
  }
  .my-container {
    padding: 0em;
    margin: 0em;
  }
}

@media screen and (min-width: 800px) {
  .featurette {
    margin: 1em auto;
  }
  .featurette img {
    width: auto;
  }

}

@media screen and (min-width: 1200px) {
  .featurette {
    margin: 1em auto;
    /* background-color: red; */
  }
  .featurette img {
    max-width: 550px;
  }
  .my-container {
    padding: 0em 2em;
  }
}

#black {
  background-color: black;
  color: white;
}

iframe {
  min-width: 80%;
  min-height: 400px;
}
